# Core scientific stack
numpy==2.0.2
pandas==2.2.3
scipy==1.13.1

# Visualization
matplotlib==3.9.4
seaborn==0.13.2
tqdm==4.67.1

# Astronomy and image processing
astropy==6.0.1
opencv-python==4.11.0.86

# Machine learning
scikit-learn==1.6.1
umap-learn==0.5.7

# PyTorch and related tools
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
torchsummary==1.5.1

# PyTorch Lightning and logging
lightning==2.2.4
pytorch-lightning==2.2.4
tensorboard==2.19.0

# Jupyter environment
ipykernel==6.29.5
jupyter==1.1.1